body {
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style-type: none;
}
h1 {
  font-weight: 500;
  text-align: left;
}
h1 {
  font-size: 50px;
  line-height: 60px;
  color: #0c151c;
  margin: 40px 0 10px 0;
  padding: 0 27px;
}
.container {
  display: block;
  margin: auto;
  padding: 0;
  width: 70%;
}

#humidity,
#wind,
.max-temperature {
  color: #4ac5c5;
}

.card {
  display: block;
  margin: auto;
  max-width: 50%;
  background: #ffffff;
  border: 1px solid #d9d9db;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 50px 60px 20px 60px;
  text-align: center;
}

.col-auto input {
  width: 300px;
  background: transparent;
  margin: 0 auto;
  align-items: center;
  border-radius: 4px;
  padding: 10px;
  flex: 1;
  border: 1px solid #4ac5c5;
  outline: none;
  font-size: 18px;
  color: #0c151c;
  line-height: 18px;
}
.search-button,
.current-button {
  width: 100px;
  padding: 10px;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
}
.search-button {
  background: #4ac5c5;
}
.current-button {
  background: #f3a418;
}
.container-current-weather {
  margin: 20px auto;
  text-align: left;
  display: contents;
  align-items: center;
  column-gap: 90px;
}

.current-weather-img {
  font-size: 100px;
}
.current-weather-temp {
  font-size: 70px;
}
.current-weather-details {
  text-align: left;
  font-size: 20px;
  font-weight: 400;
  color: #666464;
  align-content: center;
}

.units {
  position: relative;
  top: -38px;
  text-decoration: none;
}
.unitCelsius,
.unitFahrenheit {
  text-decoration: none;
}

.week-day-forcast {
  font-size: 20px;
  font-weight: 400;
}

.day-sign-forcast {
  font-size: 40px;
}
.max-temperature {
  font-size: 20px;
}
.min-temperature,
.max-temperature {
  font-weight: 500;
}
.min-temperature {
  font-size: 20px;
}
.container-forcast-weather {
  margin: 60px auto 30px;
  width: 100%;
  column-gap: 15px;
}
.coded-by {
  position: absolute;
  left: 2px;
  bottom: -50px;
  font-size: 14px;
  font-weight: 500;
  color: #666464;
}
.open-source {
  text-decoration: none;
}
